/*
 * Author: Kevin Fitzgerald
 * 
 * Sources: Adapted from https://github.com/makinacorpus/Leaflet.Social/
 */

.leaflet-social-control a {
  font-size: 250%;
  color: white;
  text-decoration: none;
  display: inline-block;
  float: none;
}